html, body {
  font-family: "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 1.2em;
  color: $text;
  background-color: $background;
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
}
