<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{page-title}}</title>

  <link href="styles/styles.css" rel="stylesheet" data-inline>

  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

</head>
<body>

{{> @partial-block }}

<script src="scripts/main.min.js" data-inline></script>

</body>
</html>
