{{!--
* Set the data context (src/_templates/_data/index.json) for this page.
* ========================================================================== --}}
{{#with index}}

{{!--
* Use the default layout (src/_templates/_partials/_layouts/default.hbs) for
* this page and set the parameter (page-title) for the layout.
* ========================================================================== --}}
  {{#> _layouts/default page-title=page-title}}

    <header>
      <p>page header</p>
      <h1>{{page-title}}</h1>
    </header>

    <main>
      <p>page main content</p>
      <p>{{content}}</p>


      {{> _components/component }}
    </main>

    <footer>
      <p>page footer</p>
    </footer>

  {{/_layouts/default}}

{{/with}}
