<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>bbuildd</title>

  <link href="styles/styles.css" rel="stylesheet" data-bbuildd-inline>

  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

</head>
<body>

{{> _site/header }}

{{> _pages/_index/main }}

{{> _site/footer }}

<script src="scripts/main.min.js" data-bbuildd-inline></script>

</body>
</html>
